<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('parciales/head.html') %>
    <link rel="stylesheet" href="panel.css">
</head>
<body>
    <div class="panel-contenedor">
        <div class="columna">
            <div class="titulo">
                <h1>Auka</h1>
            </div>
            <div class="historial">
                <p class="historial-titulo">Historial de llamados</p>

                <div class="historial-contenedor">
                    <div class="historial-item">
                        <div>
                            <div class="historial-item-cabecera">
                                <p class="historial-item-titulo">Nombre del emisor</p>
                                <p class="historial-item-hora">10:45 AM</p>
                            </div> 
                            <div class="historial-item-mensaje">
                                <p class="historial-item-texto">
                                    Falta un preceptor en el aula 13 fds fdsdf  
                                </p>
                            </div>
                        </div>
                        <div class="historial-item-pie">
                            <p class="historial-item-estado">
                                <span class="historial-item-estado-texto">Finalizado</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="llamados">
            <!-- <div class="no-hay-llamados">
                <h1>No hay llamados pendientes</h1>
            </div> -->

            <div class="llamado">
                <div class="llamado-cabecera">
                    <p class="llamado-titulo">Nombre del emisor</p>
                    <p class="llamado-mensaje">Falta un preceptor en el aula 13 fds fdsdf</p>
                </div>
                <hr>
                <div class="llamado-cuerpo">
                    <p>Llamado - Hace 2 minutos</p>
                </div>
                <div class="llamado-respuestas">
                    <a class="respuesta" href="">Yendo</a>
                    <a class="respuesta" href="">No puedo</a>
                    <a class="respuesta" href="">Derivo preceptor</a>
                </div>
            </div>
        </div>
        <div class="columna">
            <div class="preceptores">
                <p class="preceptores-titulo">Preceptores activos</p>

                <div class="preceptores-contenedor">
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>