<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parciales/head.html') %>
    <link rel="stylesheet" href="logeo.css">
</head>
<body>
    <div class="contenedor-vh fondo-partido">
        <div class="espera-contenedor">
            <h1>Tu solicitud ha sido enviada</h1>
            <p>Cuando aprobemos tu solicitud, podras acceder a tu cuenta.</p>
            <div class="botones">
                <a href="/">Volver a la pagina principal</a>
            </div>
        </div>
    </div>
</body>
</html>