* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('fuentes/inter.ttf');
}

.contenedor-vh {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.esconder {
    display: none!important;
}